<link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" type="text/css" rel="stylesheet"></link>
<script src='http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js' type='text/javascript'></script>
<script src="/lang-pl.js" type="text/javascript"></script>
<script>
	document.body.onload = function() { prettyPrint(); }
</script>
{{#article}}
<h3><a href="!article?{{slug}}">{{title}}</a> on {{date}}</h3>
{{/article}}
{{Body}}
<br/>
<br><br>
{{#prev}}
<b> Prev: </b> <a href="!article?{{slug}}">{{title}}</a>
{{/prev}}
{{#next}}
&nbsp; <b>Next:</b> <a href="!article?{{slug}}">{{title}}</a>
{{/next}}
{{#loggedin}}
<br>
<form id="frm" action="!article-delete" method="post">
<input type="hidden" name="*ID" value="{{.}}">
</form>
<a href="/!article-edit?{{.}}">edit</a> 
<a href="#delete" id="Delete" data-Key="{{.}}">delete</a> 
<script>
	document.getElementById("Delete").onclick = function() {
		if (confirm("Are you sure wish to delete this record")) {
			document.getElementById("frm").submit();	
		}
	};
</script>
{{/loggedin}}
