<form action="{{Action}}" method="post">
<style>
label { display: block; float: left; width: 100px; }
br { clear: both }
</style>

{{#Article}}
<input type="hidden" name="*ID" value="{{key}}"/>
<label> Visibility: </label> 
<select name="*Visibility"><option value="Blog">Public</option><option value="Private">Private</option></select><br>
<label>Title:</label> <input type="text" name="*Title" value="{{title}}"><br>
<textarea name="*Text" style="width:800px;height:200px">{{body}}</textarea>
<br/>
<input type="submit" name="submit">
{{/Article}}
</form>
